fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pandas
openpyxl
google-generativeai
plotly
reportlab
kaleido
Pillow
httpx
aiofiles
pydantic-settings
pydantic[email]
plotly
langgraph
langchain-core
langchain-community
openai
pydantic
groq
scikit-learn
setuptools
wheel
